* {
  margin: 0;
  padding: 0;
}

.btm-menu {
  bottom: 0;
  position: fixed;
  width: 100%;
}

.btm-menu div li {
  color: white;
  text-decoration: none;
  text-align: center;
  float: right;
  list-style: none;
  width: 23%;
  padding: 1%;
  height: 100%;
  background-color: grey;
  opacity: 0.5;
  height: 1.6rem;
}

img {
  height: 1.6rem;
  fill: blue;
}

.header {
  height: 1.6rem;
  background-color: black;
  color: white;
  top: 0;
  position: fixed;
  width: 100%;
  text-align: center;
  padding: 0.5rem;
  opacity: 0.5;
  z-index: 200;
}

.content {
  background-color: coral;
  margin-top: 2.6rem;
  height: 100%;
  width: 100%;
}
